@charset "utf-8";
/* CSS Document */
@media only screen and (max-width:1024px) {

.bottom_contant { height: 190px; margin-left: 15%; overflow-y: scroll; width: 75%; }

.options ul .list_contant li ul li { padding: 0 14px; }

.oreder_left .top_title { padding:40px 10%; text-align:center; }
}
@media only screen and (max-width:990px) {

.wrapper { padding:0 15px; }

.options ul li .text_col p { font-size: 20px; /* max-width: 415px; */ overflow: hidden; padding: 27px 0; text-overflow: clip ellipsis; white-space: nowrap;  word-wrap: break-word; white-space: normal; }
}
 @media only screen and (max-width:b88228) {

.options ul li .text_col p { font-size: 20px; /* max-width: 415px; */ overflow: hidden; padding: 27px 0; text-overflow: clip ellipsis; white-space: nowrap;  word-wrap: break-word; white-space: normal; }

.oreder_left .top_title { height: 180px; padding: 30px 25px; text-align: center; }

.oreder_left .top_title img { margin-top:25px; }

.oreder_left .top_title h2 { font-size:30px; }

.oreder_left .top_title h2 b { font-size:45px; }

.view_cart { background: #fff none repeat scroll 0 0; box-shadow: none; margin: 0 auto; padding: 0 0px 15px; position: relative; right: 0; top: 0; width: 450px; z-index: 999; }

.view_cart li strong { font-size:20px; }

.view_cart p.list_btm span { width:93%; float:left; padding-left: 67px; font-family: 'Conv_ProximaNova-Regular' !important; }

.view_cart p .qty { font-size: 22.5px; height: 34px; text-align: center; width: 35px; }

.view_cart p.list_btm { width:98%; margin-left:1%; margin-top: 30px; }

.view_cart p span { font-size: 20px; padding: 3px 60px; font-family: 'Conv_ProximaNova-Regular'; }

.view_cart ul li:first-child p span { font-family: "Conv_Oswald-regular"; font-size:20px; }

.view_cart p img { margin-right:20px; }

.view_cart ul li.no_border { border: medium none; padding-bottom: 6px; }

.view_cart ul li .coupan { border: 1px solid #d6d6d6; border-radius: 6px; color: #9b9b9b; font-family: "Conv_ProximaNova-Semibold"; font-size: 15px; height: 50px; padding: 15px 0; text-align: center; width: 100%; }

.view_cart p b.prce { font-size: 20px; }

.view_cart ul li .chk_bt { font-size:15px; border-radius:6px; height:60px; }

.back_bt { display:block; }
}
 @media only screen and (max-width:700px) {

.options ul li .text_col p { font-size: 20px; /* max-width:370px; */ overflow: hidden; padding: 27px 0; text-overflow: clip ellipsis; white-space: nowrap;  word-wrap: break-word; white-space: normal; }

.oreder_left .top_title img { margin-right: 13px; }

.oreder_left .top_title { padding: 30px 10px; }

/*.oreder_left .top_title h2 { font-size:23px; }

.oreder_left .top_title h2 b { font-size:34px; }*/

nav.navigation ul li { padding: 14px 10px; }
}
 @media only screen and (max-width:568px) {

.options ul li .text_col p { font-size: 20px; /* max-width:277px; */ overflow: hidden; padding: 27px 0; text-overflow: clip ellipsis; white-space: nowrap;  word-wrap: break-word; white-space: normal; }

.options ul li .text_col i { /* padding: 0px 10px 0px 11px; */ }

.options ul .list_contant li { font-size: 17px; margin: 0; padding: 24px 15px 24px 54px; }

.oreder_left .top_title img { margin-right:0 }

.mobile_menu { display: block; float: left; text-align: center; width: 100%; }

.mobile_menu a { background: rgba(0, 0, 0, 0) url("../image/mob_menu.png") no-repeat scroll left top; float: left; font-size: 0; height: 42px; position: relative; top: 16px; width: 63px; cursor: pointer; }

.mobile_menu > span { color: #505e69; display: inline-block; float: none; font-family: "Conv_Oswald-light"; font-size: 25px; padding: 9px 0; text-align: center; }

.shoping_bag .left_header { display:none !important; }

.shoping_bag .right_header { background: #fff none repeat scroll 0 0; border-left: 1px solid #d3d2d2; float: right; padding: 0; position: absolute; top: 51px; width: 92.6%; }

.shoping_bag nav.navigation ul li { float: none; padding: 14px 10px !important; border:none; }

.shoping_bag .right_header .signin { /* background: rgba(0, 0, 0, 0) url("../image/signin.png") no-repeat scroll left 14px; */ float: left; /* margin-left: 12px;  */padding: 14px 0px 0px 14px; width: 100%; }
}
 @media only screen and (max-width:480px) {

.options ul li .text_col p { font-size: 20px; /* max-width: 200px; */ overflow: hidden; padding: 27px 0; text-overflow: clip ellipsis; white-space: nowrap; word-wrap: break-word; white-space: normal; }

.options ul li .text_col i { /* padding: 0px 10px 0px 11px; */ }

.options ul li .chose { display: table-cell; padding: 20px 3px; width: 64px; }

.options ul .list_contant li .pick_date { width:100%; }

.options ul .list_contant li .pick_date tr td.pick_time { padding: 0 0px 20px 0; }

.options ul .list_contant li ul li { padding:0 8px }

.options ul .list_contant li.left_pad { padding-left: 0; }

.bottom_contant { margin-left: 0%; overflow-y: scroll; width: 100%; }

.options ul .list_contant li .pick_date tr td { padding:0 0px 20px 0; }

.oreder_left .top_title img { margin: 0; }

.oreder_left .top_title { padding: 25px 0; }

/*.oreder_left .top_title h2 { display: block; font-size: 17px; margin: 10px 0; }

.oreder_left .top_title h2 b { font-size: 25px; }*/

.menus ul li.menu { /*background: #dce1e5 url("../image/list_arrow.png") no-repeat scroll 93% center;*/ color: #505e6a; font-size: 24px; height: 100px; letter-spacing: 1px; margin-bottom: 40px; padding: 30px 15px; }

.contant_area { position: relative; top: -40px; }

.contant_area .text_col { width:69%; font-size:14px; }

.contant_area .text_col span { font-size:26px }

.view_cart p span { padding: 3px 15px;  max-width: 68%; }

.view_cart p.list_btm span { float: left; font-family: "Conv_ProximaNova-Regular" !important; padding-left: 26px; padding-right: 0; width: 85%; }

.view_cart { width:auto; margin: 0 auto; }

}
 @media only screen and (max-width:375px) {

.options ul li .text_col p { font-size: 20px; /* max-width: 167px; */ overflow: hidden; padding: 27px 0; text-overflow: clip ellipsis; white-space: nowrap; word-wrap: break-word; white-space: normal; }

.options ul .list_contant li ul li { padding:0 3px; }

.chose_date p { font-size:16px; }

.options ul .list_contant li .pick_date tr td.pick_time { padding: 0 2px 20px 0; }

.options ul .list_contant li .pick_date tr td { font-size:16px }

.options ul .list_contant li .back_bt { top:4px; left:125px; }

.oreder_left .top_title img { margin-right:0; }
}







/****************** Custom **********************/
.view_cart { background:none; }
@media only screen and (max-width: 480px){
	.options ul li .text_col i {
		/* padding: 0px 10px 0px 16px; */
	}
	.contant_area .text_col { width:66%; }
	.contant_area {
		top:-20px;	
	}
	body.orderMenu .oreder_left .top_title span {
		display:none;
	}
}
/* @media only screen and (max-width:568px) {
	.options ul .list_contant li{
		padding: 24px 15px 24px 26px;
	}
	.right_header .signin {
		background:none;
		padding:0px !important;
	}
	.mobile_menu {
		width:auto;	
	}
	.left_header{
		float:right;
	}
	.full-width-568{
		width:100%;	
	}	
	.right_header{
		display:none;
	}
	.hide-gt568{
		display:inline-block !important;	
	}	
}  */
@media only screen and (max-width:768px) {
	.hide-mobile{
		display:none !important;
	}
	.view_cart{
		top: 50px !important;
	}
	.custom_pad_gray{
		padding:24px 0px !important;
	}
	.text-center-mobile{
		text-align:center;	
	}
	.mobile-align-center{
		width:90%;
		margin:0 auto;
	}
	.options ul .list_contant li .pick_date tr td {
		padding: 0 12px 20px 0;
	}
	.margin-remove-mobile{
		margin:0px !important;
	}
	.mobile_cart_btn{
		margin:8px 0 0 0;
		padding:6px 12px 0px 12px !important;
	}
	.mobile-mb10{
		margin-bottom:10px;	
	}	
}
@media only screen and (min-width:768px) and (max-width: 1279px) {
	.hide-tablet{
		display:none !important;
	}
}	
@media only screen and (max-width:1024px) {
	.mobile-display-table-row{
		display:table-row;
	}	
}	
@media only screen and (max-width:767px) {
	.margin-top-mobile{
		margin-top:10px;	
	}
}
@media only screen and (min-width:769px) {
	.catContainer{
		width: 82% !important;
		padding: 10px;
		margin: 0px 272px 0px 15px !important;
	}
}
/* for desktop only */
@media only screen and (min-width:1280px) {
	.hide-desktop{
		display:none !important;	
	}
	.back_bt{
		display:inline-block;
		top:10px;
	}	
}	

@media only screen and (max-width:568px) {
	.signin {
		padding: 14px 0px 0px 3px !important;
	}
	.right_header .signin { 
		/* background: rgba(0, 0, 0, 0) url("../image/signin.png") no-repeat scroll left 14px;  */
		float: left; 
		/* margin-left: 10px  !important; */
		padding: 14px 0px 0px 14px !important;
		width: 100% !important; 
	}
	#step_back_menu{
		float: left; 
		/* margin-left: 10px  !important; */
		margin-right: 2px  !important;
		/* padding: 14px 0 14px 30px !important;  */
	}
	.checkoutPayAtStore, .checkoutPayNow{
		margin:0 8px;	
	}
	.checkoutCCOptionLabel{
		word-wrap: normal;
		white-space: normal;
		max-width: 85%;
		float: left;
		text-align: left;
	}
}
@media only screen and (max-width:320px) {
	.olderCCDropdownLabel{
		margin-left:5px !important;	
	}
	.options ul .list_contant li {
		padding-left:16px;	
	}
	.text_col i {
		padding: 0px 10px 0px 12px;
	}	
}